<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WcfServices.Services.CalculatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8888/CalculatorService" binding="basicHttpBinding"
                bindingConfiguration="" contract="Contracts.ICalculator" name="calculatorservice_http" />
            <endpoint address="net.tcp://localhost:9998/CalculatorService"
                binding="netTcpBinding" contract="Contracts.ICalculator" name="calculatorservice_tcp" />
            <endpoint address="http://127.0.0.1:81/wcfservices/calculatorservice.svc"
                binding="wsHttpBinding" contract="Contracts.ICalculator" name="calculatorservice" />
        </client>
    </system.serviceModel>
</configuration>