<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WcfServices.Services.CalculatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://127.0.0.1:9999/CalculatorService" binding="wsHttpBinding"
                bindingConfiguration="WcfServices.Services.CalculatorService"
                contract="WcfServices.Contracts.CalculatorService" name="WcfServices.Services.CalculatorService">
                <identity>
                    <userPrincipalName value="xieql2@lenovo.com" />
                </identity>
            </endpoint>-->
          <!--<endpoint address="http://127.0.0.1:9999/CalculatorService" binding="wsHttpBinding" contract="Contracts.ICalculator" name="calculatorservice">
            
          </endpoint>-->

          <endpoint address="http://127.0.0.1:81/wcfservices/calculatorservice.svc" binding="wsHttpBinding" contract="Contracts.ICalculator" name="calculatorservice">

          </endpoint>
        </client>
    </system.serviceModel>
</configuration>